name: Package

on:
    pull_request:
    push:
        branches: ["main", "develop", "release"]

env:
    CARGO_TERM_COLOR: always

jobs:
    # license:
    #     name: 游낆License check
    #     runs-on: ubuntu-latest
    #     steps:
    #         - uses: actions/checkout@v2
    #         - name: 游낆Check license
    #           run: |
    #               cargo install cargo-deny
    #               cargo deny check

    package:
        name: 游댣Package
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: 游댣Check package build
              run: cargo package --verbose

    cargo_check:
        name: 游닍Check package integrity
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: 游닍Check package integrity
              run: cargo check --verbose

    publish_dry_run:
        name: 游닉Publish dry-run
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: 游닉Publish dry run
              run: cargo publish --dry-run --verbose

    # dummy_publish:
    #     name: 游닍拘勇游닉Publish dummy
    #     # needs: [license, package, cargo_check, publish_dry_run]
    #     needs: [package, cargo_check, publish_dry_run]
    #     runs-on: ubuntu-latest
    #     steps:
    #         - uses: actions/checkout@v2
    #         - name: 游닍拘勇游닉Publish dry run
    #           run: cargo publish --dry-run --verbose
